:root {
    --fuente: "Roboto", sans-serif;

    --body: #1c1c1e;
    --texto: #f9f9f9;
    --focus: #007aff;
    --btn: #00bb2d;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--body);
    color: var(--texto);

    /* Mantiene el footer hasta abajo */
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* Main */
.container_fun {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.container_fun h3 {
    color: var(--focus);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-decoration: underline;
}

.container_fun span h3 {
    color: var(--texto);
}

.container_fun li {
    font-size: 2rem;
    text-align: justify;
    padding: 0 .2rem;
}

.hero {
    margin-top: 5rem;
    background-image: url(../img/section.jpg);
    height: 50rem;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    opacity: .7;
}